@model IEnumerable<JoseCerezo_Taller1.Models.Equipo>

@{
	ViewData["Title"] = "Equipos";
}

<h1 class="mt-4">@ViewData["Title"]</h1>

<a class="btn btn-primary my-3" asp-action="Create">Registrar nuevo equipo</a>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ciudad)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Titulos)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AceptaExtranjeros)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Estadio)
			</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ciudad)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Titulos)
				</td>
				<td>
					@(item.AceptaExtranjeros ? "Sí" : "No")
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estadio!.Nombre)
				</td>
				<td>
					<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">
						<i class="bi-search"></i>
						Detalles
					</a>
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
						<i class="bi-pencil-square"></i>
						Editar
					</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
						<i class="bi-trash"></i>
						Borrar
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
