@model JoseCerezo_Taller1.Models.JugadoresEquiposModel

@{
	ViewData["Title"] = "Jugadores";
}

<h1 class="mt-4">@ViewData["Title"]</h1>

<a class="btn btn-success my-3" asp-action="Create"><i class="bi bi-plus-square"></i> Registrar nuevo jugador</a>

<form asp-action="Index">
	<div class="row mb-3">
		<p class="col-auto my-auto">Filtrar por equipo: </p>
		<select asp-for="EquipoFiltro" asp-items="Model.Equipos" class="col-auto me-3"></select>
		<button type="submit" class="btn btn-outline-primary col-auto">Aplicar</button>
	</div>
</form>

<table class="table table-bordered table-striped">
	<thead>
		@{
			JugadorModel jugador = new();
		}
		<tr>
			<th>
				@Html.DisplayNameFor(model => jugador.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => jugador.Posicion)
			</th>
			<th>
				@Html.DisplayNameFor(model => jugador.Edad)
			</th>
			<th>
				@Html.DisplayNameFor(model => jugador.Equipo)
			</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Jugadores)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Posicion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Edad)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Equipo!.Nombre)
				</td>
				<td>
					<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">
						<i class="bi-search"></i>
						Detalles
					</a>
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
						<i class="bi-pencil-square"></i>
						Editar
					</a>
					<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal1" data-bs-id="@item.Id">
						<i class="bi-trash"></i>
						Borrar
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal1Label">¿Desea borrar este jugador?</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Esta acción no es reversible.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

				<form id="eliminarForm" asp-action="Delete" method="post">
					<button type="submit" class="btn btn-danger">Eliminar</button>
				</form>
			</div>
		</div>
	</div>
</div>

