@model IEnumerable<JoseCerezo_Taller1.Models.Jugador>

@{
	ViewData["Title"] = "Jugadores";
}

<h1 class="mt-4">@ViewData["Title"]</h1>

<a class="btn btn-primary my-3" asp-action="Create">Registrar nuevo jugador</a>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Posicion)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Edad)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Equipo)
			</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Posicion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Edad)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Equipo!.Nombre)
				</td>
				<td>
					<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">
						<i class="bi-search"></i>
						Detalles
					</a>
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
						<i class="bi-pencil-square"></i>
						Editar
					</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
						<i class="bi-trash"></i>
						Borrar
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
